@model OPMS.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">

            <div class="card bg-transparent">
                <div class="card-body">

                    <div class="form-header  blue lighten-1 text-white">
                        <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group md-form ">
                                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label " })
                                        <div class="offset-3">
                                            <i class="fas fa-user prefix text-primary "></i>
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group md-form">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                        <div class="offset-3">
                                            <i class="fas fa-at prefix text-primary "></i>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group md-form">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                                        <div class="offset-3">
                                            <i class="fas fa-map-marker-alt prefix text-primary "></i>
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group md-form">
                                        @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label " })
                                        <div class="offset-3">
                                            <i class="fas fa-mobile-alt prefix text-primary "></i>

                                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group md-form">
                                        @Html.LabelFor(model => model.ContactedLocation, htmlAttributes: new { @class = "control-label" })
                                        <div class="offset-3">
                                            <i class="fas fa-map-marked-alt prefix text-primary "></i>

                                            @Html.EditorFor(model => model.ContactedLocation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactedLocation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group md-form">
                                        @Html.LabelFor(model => model.MessageText, htmlAttributes: new { @class = "control-label " })
                                        <div class="offset-3">
                                            <i class="fas fa-pen prefix text-primary "></i>
                                            @Html.TextBoxFor(model => model.MessageText, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MessageText, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group md-form">
                                        <div class="offset-5">
                                            <input type="submit" value="Send" class="btn btn-primary fas fa-pen" />

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-6 my-5">
                            <img src="~/Content/Img/undraw_fill_forms_yltj.svg" class="img-fluid img-responsive" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


@section ContactCustomCSS{

    <link href="~/Content/ContactCustomCSS.css" rel="stylesheet" />

}