@model OPMS.ViewModels.ContactMultiVM

@foreach (var item in Model.ContactPageViewModel)
{
    <div class="">
        <div class="view jarallax BackCOLOR  my-sm-0" data-jarallax='{"speed": 0.4}' style="background-image: url('https://i.ibb.co/xLPQCjC/grilswroking.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; height:100vh;">
            <!-- Mask & flexbox options-->
            <div class="mask mask BackCOLOR d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 white-text text-center my-md-5 my-sm-1">
                            <h1 class="display-4 mb-md-0 mb-sm-2  pt-md-5 pt-sm-2 pb-md-0 pb-sm-0 pb-sm-1 pb-md-2 white-text font-weight-bold wow fadeInDown" data-wow-delay="0.3s"><span class="text-white text-uppercase">@item.Title</span></h1>
                            <hr class="hr-light w-50">
                            <h5 class="text-uppercase  pt-md-3 pt-sm-2 pb-md-2 pb-sm-4 white-text font-weight-bold wow fadeInDown"
                                data-wow-delay="0.3s">
                                <span class="text-white text-uppercase ">@item.SubContent</span>
                            </h5>
                            <div class="wow fadeInDown" data-wow-delay="0.3s">
                                <a href="/AboutUs" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-building fa-lg pr-1"></i> About </a>
                                <a href="/Home" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-home fa-lg pr-1"></i> Home</a>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
            <div class="my-5"></div>
        </div>
    </div>


    <div class="container mt-4 pt-4">


        <!--Section: Content-->
        <section class="">

            <!-- Grid row -->
            <div class="row mx-2">

                <!-- Grid column -->
                <div class="col-md-5 mb-lg-0 mb-4">

                    <!-- Featured image -->
                    <div class=" rounded  mb-lg-0 mb-4">
                        <img class="img-fluid" src="~/Content/Img/Response.svg" alt="Sample image">

                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-7 mb-md-0 mb-4 mt-xl-4">


                    <h2 class="font-weight-bold text-primary text-sm-center text-md-left text-lg-left mb-4">@item.Description</h2>
                    <p class="">@Html.Raw(item.Content)</p>
                    <a href="/SocialWokers" class="btn btn-primary btn-rounded waves-effect btn-md"><i class="fas fa-users fa-lg pr-1 "></i> Social Worker</a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>

        <!--Section: Content-->




    </div>



}

@if (Model?.ContactDetailsViewModel != null)
{
    foreach (var item in Model.ContactDetailsViewModel)
    {
        <div class="container mt-5 pt-5">


            <!--Section: Content-->
            <section class="dark-grey-text">
                <!-- Section heading -->
                <div class="form-header form-header z-depth-0 text-white mb-0">
                    <h1 class="mt-2"><i class="fas fa-envelope"></i> @item.Title</h1>
                    <hr class="hr-light w-25" />
                    <!-- Section description -->
                </div>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

                        <!-- Form with header -->
                        <div class="card bg-transparent">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue lighten-1">
                                                <i class="fas  fas fa-city"></i>
                                            </a> City: @item.CityName
                                        </h6>

                                    </div>
                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue lighten-1">
                                                <i class="fas fa-road"></i>
                                            </a> Street: @item.StreetName
                                        </h6>

                                    </div>
                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue lighten-1">
                                                <i class="fas fa-archway"></i>
                                            </a> Area: @item.AreaName
                                        </h6>

                                    </div>

                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue blue lighten-1">
                                                <i class="fas fa-home"></i>
                                            </a> Center: @item.CenterName
                                        </h6>

                                    </div>
                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue blue lighten-1">
                                                <i class="fas fa-mobile-alt"></i>
                                            </a> Mobile: @item.MobileNumber
                                        </h6>

                                    </div>
                                    <div class="col-lg-12 col-md-12 mb-1">
                                        <h6 class="font-weight-bold mb-1">
                                            <a class="btn-floating prefix text-left blue blue lighten-1">
                                                <i class="fas fa-envelope"></i>
                                            </a> Email: @item.CenterEmail
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Form with header -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-7">

                        <!--Google map-->
                        <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 487px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44092.59090383205!2d3.361300550456787!3d46.31406888932458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f1255dfbd3424f%3A0x79b25ab1393e8e35!2s03150%20Varennes-sur-Allier!5e0!3m2!1sen!2sfr!4v1584986457676!5m2!1sen!2sfr" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <!-- Buttons-->


                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!--Section: Content-->


        </div>

    }
}

@if (Model?.ContactInfoViewModel != null)
{
    <div class="container">
        <div class="form-header text-white z-depth-0 mt-2">
            <h2 class="mt-2"><i class="fas fa-map-marker-alt"></i> Find More Address</h2>
            <hr class="hr-light w-25 mb-0" />
        </div>

    </div>
    foreach (var item in Model.ContactInfoViewModel)
    {
        <div class="container my-0">

            <!-- Section: Block Content -->
            <section class="">

                <style>
                    .map-container {
                        overflow: hidden;
                        position: relative;
                        height: 0;
                    }

                        .map-container iframe {
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                        }
                </style>

                <div class="card bg-transparent">
                    <div class="card-header  text-center  blue lighten-1 text-white z-depth-1">
                        <div class="col-lg-12 col-md-12 ">
                            <h3 class=" text-white mt-2 ">
                                @Html.Raw(item.Content)
                            </h3>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 align-self-center py-2">

                            <!--Google map-->
                            <div id="map-container-section" class="z-depth-1-half map-container-section my-2" style="height: 487px">
                                @Html.Raw(item.GoogleMap)
                            </div>
                            <!-- Buttons-->


                        </div>

                        <div class=" col-md-6  align-self-center py-4">

                            <div class="row ">

                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">
                                            <i class="fas fa-clinic-medical"></i>
                                        </a> Title: @Html.Raw(item.Title)
                                    </h6>

                                </div>
                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">

                                            <i class="fas fa-archway"></i>
                                        </a> City: @item.PlaceName
                                    </h6>
                                </div>
                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">
                                            <i class="fas fa-road"></i>
                                        </a> Add:@item.PlaceAddress
                                    </h6>

                                </div>


                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">
                                            <i class="fas fa-mobile-alt"></i>
                                        </a> Mobile: @item.PlaceContactNumber
                                    </h6>

                                </div>
                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">
                                            <i class="fas fa-map-marked"></i>
                                        </a> Area Code: @item.PostalCode
                                    </h6>

                                </div>
                                <div class="col-lg-12 col-md-12 mb-1">
                                    <h6 class="font-weight-bold mb-1">
                                        <a class="btn-floating prefix text-left blue lighten-1">
                                            <i class="fas fa-map-marked"></i>

                                        </a>
                                        WebSite:
                                        <a href="@item.WebSite" class="btn btn-primary btn-rounded waves-effect btn-md" target="_blank"><i class="fas fa-external-link-alt fa-lg pr-1 "></i> Viste Site</a>


                                    </h6>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>

            <!-- Section: Block Content -->

        </div>
        <br />
    }
    <!-- Modal -->
    
}


@section ContactCustomCSS{

    <link href="~/Content/ContactCustomCSS.css" rel="stylesheet" />

}
