@model OPMS.ViewModels.ContactMultiVM

@foreach (var item in Model.ContactPageViewModel)
{
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <img src="@item.ImageUrl" class="img-responsive" />
            <h3 class="panel-title">@Html.Raw(item.SubContent)</h3>
            <h4 class="panel-title">@Html.Raw(item.Description)</h4>

        </div>
        <div class="panel-body">
            <p class="panel-title">@Html.Raw(item.Content)</p>
        </div>
    </div>
}
<hr />
@if (Model?.ContactDetailsViewModel != null)
{
    foreach (var item in Model.ContactDetailsViewModel)
    {
        <div class="jumbotron text-center">
            <h3> @item.Title</h3>
            <h3>Center Name: @item.CenterName</h3>
            <h3>Eamil: @item.CenterEmail</h3>
            <h3>Area Name: @item.AreaName</h3>
            <h3>Street Name @item.StreetName</h3>
            <h3>Mobile Number: @item.MobileNumber</h3>

            <p>
                <a class="btn btn-primary btn-lg" href="@item.AboutUrl" role="button">
                    About
                </a>
            </p>
        </div>
    }
}
<hr />
@if (Model?.ContactInfoViewModel != null)
{
    foreach (var item in Model.ContactInfoViewModel)
    {
        <div class="jumbotron">
            <h3>Title: @item.Title</h3>
            <p> @Html.Raw(item.Content)</p>
            <h5>Place Name: @item.PlaceName</h5>
            <h5>Place Adress: @item.PlaceAddress</h5>
            <h5>Mobile Number: @item.PlaceContactNumber</h5>
            <h5>WebSite:@item.WebSite</h5>
            <h5>Postal Code: @item.PostalCode</h5>

            <p>
                <a class="btn btn-primary btn-lg" href="@item.AboutUrl" role="button">
                    About
                </a>
            </p>
        </div>
    }
}
@section ContactCustomCSS{

    <link href="~/Content/ContactCustomCSS.css" rel="stylesheet" />

}