@model OPMS.ViewModels.AboutMultiViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}
<hr />

<hr />
@if (Model?.NewsInfoViewModel != null)
{
    foreach (var item in Model.NewsInfoViewModel)
    {
        <div class="jumbotron">
            <img src="@item.ImageUrl" class="img-responsive" />
            <h4 class="display-4">@item.SubContent</h4>
            <p class="lead">@Html.Raw(item.Content)</p>
            <hr class="my-4">
            <p>

            </p>
            <a class="btn btn-primary btn-lg" href="@item.ButtonUrl" role="button">Home</a>
            <br />
            <span class="label label-primary">@item.PublishDate</span>
        </div>
    }


}

