@model OPMS.ViewModels.AboutMultiViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}


@foreach (var item in Model.AboutPageViewModels)
{
    <div class="jumbotron">
        <img src="@item.BannerImage" />
        <h1 class="display-4">@item.SubTitle</h1>
        <p class="lead">@Html.Raw(item.Content)</p>
        <hr class="my-4">
        <p>
            @Html.Raw(item.Title)
        </p>
        <a class="btn btn-primary btn-lg" href="@item.ButtonUrl" role="button">Home</a>
    </div>

}
@if (Model?.AboutPageViewModels != null)
{

    <div class="container">
        <div class="row">
            @foreach (var item in Model.AboutSectionViewModels)
            {
                <div class="col-md-12">
                    <div class="thumbnail">
                        <img src="@item.UrlImages" alt="..." class="img-responsive">
                        <div class="caption">
                            <h4>@item.MainTitle</h4>
                            <h6>@item.SubTitle</h6>
                            <hr />
                            <h5>@Html.Raw(item.Content)</h5>
                           
                        </div>
                        <hr />
                        <button class="btn btn-primary"> @item.Title</button>
                        <br />
                        <span class="label label-primary">@item.PublishDateTime</span>
                    </div>
                </div>
            }
        </div>
    </div>

}
<div class="container">
    <div class="row">
        @foreach (var item in Model.AboutShortSectionViewModels)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@item.MainTitle</h4>
                        <h6>@item.SubTitle</h6>
                        <hr />
                        <h5>@Html.Raw(item.Content)</h5>
                        <h6>@Html.Raw(item.SubContent)</h6>
                    </div>
                    <hr />
                    <button class="btn btn-primary"> @item.Title</button>
                    <br />
                </div>
            </div>
        }
    </div>
</div>

