@model OPMS.ViewModels.AboutMultiViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}


@foreach (var item in Model.AboutPageViewModels)
{
    <div class=" text-justify pt-5 ">
        <div class="" style="background-image: url(''); background-repeat: no-repeat; background-size: cover; background-position: center center;" id="sidebar">
            <!-- Mask & flexbox options-->
            <div class="mask BackCOLOR d-flex justify-content-center align-items-center h-100">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row mx-2 ">
                        <!--Grid column-->
                        <div class=" col-md-7 text-md-left  mt-4 pt-5">
                            <h1 class="animated fadeInUp slower text-primary font-weight-bold ">@item.MainTitle </h1>
                            <h3 class="animated fadeInUp slower text-white">@item.SubTitle </h3>
                            <hr class="hr-light">
                           
                            <div class="text-body">
                                <p>@Html.Raw(item.Content)</p> 
                                <a href="/Contact" class="btn btn-primary  btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-phone-alt fa-lg pr-1"></i> Contact Us</a>
                                <a href="/@item.AboutUrl" class="btn btn-primary btn-rounded waves-effect btn-md"><i class="fas fa-home fa-lg pr-1 "></i> Home</a>
                            </div>
                        </div>
                        
                        <div class="col-md-5  col-xl-5 mt-xl-5 my-5  wow fadeInRight" data-wow-delay="0.3s">
                            <img src="~/Content/Img/undraw_mobile_testing_reah.svg" alt="" class="img-fluid" id="zoom">
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>

    </div>

}
@if (Model?.AboutPageViewModels != null)
{

    <div class="mt-n2 h-100">
        <div class="">
            @foreach (var item in Model.AboutSectionViewModels)
            {
                <div class="text-justify-center ">
                    <div class="cke_panel_frame  my-2" style="background-image: url('https://i.ibb.co/jbxSqM6/About-Working-System.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;" id="sidebar">
                        <!-- Mask & flexbox options-->
                        <div class="mask BackCOLORSection d-flex justify-content-center align-items-center h-100">
                            <!-- Content -->
                            <div class="container h-100 pt-5 mx-2">
                                <!--Grid row-->
                                <div class="row">
                                    <!--Grid column-->
                                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 ">
                                        <h1 class="font-weight-bold mt-sm-5 animated  fadeInUp">@item.Title </h1>
                                        <hr class="hr-light">
                                        <p class="mx-3 mb-md-n1text-justify text-white">@Html.Raw(item.Content)</p>

                                        <a href="/Contact" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-phone-alt fa-lg pr-1"></i> Contact Us</a>
                                        <a href="/SocialWokers" class="btn btn-primary btn-rounded waves-effect btn-md"><i class="fas fa-users fa-lg pr-1 "></i> Social Worker</a>

                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-md-6 col-xl-5 offset-1  mt-5">
                                        <img class="img-fluid" src="~/Content/Img/WorkingSystem.svg" alt="Sample image">
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                            </div>
                            <!-- Content -->
                        </div>
                        <!-- Mask & flexbox options-->
                    </div>

                </div>
                @*<div class="col-md-12 my-sm-2 my-md-5">
                <section>

                    <!-- Grid row -->
                    <div class="row mx-2">

                        <!-- Grid column -->
                        <div class="col-md-7 mb-4 align-self-center text-center text-lg-left mt-4">

                            <h1 class=" mb-2 font-weight-bold text-primary text-left">@item.Title</h1>
                            <h3 class=" mb-2 text-white text-left">@item.SubTitle</h3>
                            <hr class="hr-light" />
                            <p class="pb-2">@Html.Raw(item.Content)</p>

                            <div class="pt-2">
                                <a href="/Contact" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-phone-alt fa-lg pr-1"></i> Contact Us</a>
                                <a href="/SocialWokers" class="btn btn-primary btn-rounded waves-effect btn-md"><i class="fas fa-users fa-lg pr-1 "></i> Social Worker</a>
                            </div>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5  my-5">

                            <!-- Featured image -->
                            <div class="img-fluid">
                                <img class="img-fluid mx-auto" src="~/Content/Img/undraw_interview_rmcf.svg" alt="Sample image">

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!--Section: Content-->



            </div>*@
            }
        </div>
    </div>

}

   
        @foreach (var item in Model.AboutShortSectionViewModels)
        {
    <div class="container-fluid pt-5" >

        <div class="container">


            <!-- Section: Block Content -->
            <section class="">

                <div class="container">


                    <!--Section: Content-->
                    <section class="mx-md-5">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">

                                <!-- Card -->
                                <div class="card card-cascade wider reverse">

                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <img class="card-img-top" src="https://i.ibb.co/G0rRqQB/About-Bannersmall.jpg" alt="Sample image">
                                       
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center blue lighten-4">

                                        <!-- Title -->
                                        <h2 class="font-weight-bold pb-2 pt-2 text-primary">@item.Title</h2>
                                        <p class="text-center w-responsive">@Html.Raw(item.SubContent)</p>
                                        <div class="social-counters">

                                        </div>
                                        <!-- Social shares -->
                                        <div class="social-counters">
                                            <a class="btn-floating btn-sm btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                                            <!--Twitter-->
                                            <a class="btn-floating btn-sm  btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                                            <!--Google +-->
                                            <a class="btn-floating btn-sm  btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
                                            <!--Linkedin-->
                                            <a class="btn-floating btn-sm  btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                    <!-- Card content -->

                                </div>
                                <!-- Card -->
                                <!-- Excerpt -->
                                

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->


                    </section>
                    <!--Section: Content-->


                </div>


                <!-- Grid row -->
                <div class="row my-5">

                    <!-- Grid column -->
                    <div class="col-lg-5 mb-lg-0 mb-5 my-5">

                        <img src="~/Content/Img/undraw_work_chat_erdt.svg" class="img-fluid rounded " alt="Sample project image">

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-7 mt-5 pt-3 ">

                        <ul class="list-unstyled fa-ul mb-0">
                            <li class="d-flex justify-content-center pl-4">
                                <span class="fa-li"><i class="fas fa-book fa-2x text-primary"></i></span>
                                <div>
                                    <h2 class="font-weight-bold text-primary text-left pb-2">@item.SubTitle</h2>
                                    <h3 class="font-weight-bold text-white text-left">@item.MainTitle</h3>
                                    <p class=" w-responsive mx-auto text-left pt-2">@Html.Raw(item.Content)</p>
                                    <div class="pt-2 text-left">
                                        <a href="/Contact" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-phone-alt fa-lg pr-1"></i> Contact Us</a>
                                        <a href="/SocialWokers" class="btn btn-primary btn-rounded waves-effect btn-md"><i class="fas fa-users fa-lg pr-1 "></i> Social Worker</a>
                                    </div>
                                </div>
                               
                            </li>

                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->


            </section>
            <!-- Section: Block Content -->


        </div>


    </div>
        }
   


@section AboutCustomCSS{

    <link href="~/Content/AboutCustomCSS.css" rel="stylesheet" />

}