@model IEnumerable<OPMS.ViewModels.MainPostSystemVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PosteLayout.cshtml";
}
<hr />


@{
    if (Request.IsAuthenticated)
    {


        foreach (var item in Model.Where(x => x.Users.UserName == User.Identity.Name))
        {
            if (item.HasPost)
            {
                <br />
                <div class="jumbotron text-center">
                    <h4>Bonjour, cher @User.Identity.Name</h4>
                    <hr />
                    <h2 class="label label-primary">You have Post</h2>
                    <hr />
                    <img src="~/Content/Img/Envelop.png" class="img-responsive" />
                    <hr />
                    <h5>Post: @item.Title</h5>
                    <h5 class="label label-danger">Expiraton Date: @item.PostExpirationDate</h5>
                    <h5>Assigned By: @item.SendedBy</h5>
                    <h5 class="label label-primary">Sent Date: @item.SentDateTime</h5>
                    <h5>Send By: @item.SocialWorker.FullName</h5>
                    <h5>From: @item.PostSystems.Title</h5>
                </div>

            }
            else
            {
                <br />
                <div class="jumbotron">
                    <h4>Bonjour, cher @User.Identity.Name</h4>
                    <hr />
                    <h3 class="label label-primary">You have no Post</h3>
                    <hr />
                    <img src="~/Content/Img/Envelop2.png" class="img-responsive" />
                </div>

            }

        }

    }
    else
    {
        <div class="jumbotron">
            <h3>You have to login first</h3>
            <hr />
            <img src="~/Content/Img/undraw_access_account_99n5.svg" class="img-responsive" id="Login" />
        </div>

    }
}
@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}

