@model OPMS.ViewModels.SiteSettingsViewModel

@{
    ViewBag.Title = "Delete";
}
<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Delete The sitesetting</h4>
        <!-- Subtitle -->
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <hr />
        <h4 class="text-danger">Are you sure you want to delete the <button disabled class="btn btn-danger btn-sm  btn-rounded"><i class="fas fa-trash-alt pr-2"></i> @Model.SiteName</button>  setting?</h4>
        <br />
        <div>
            <div class="col-md-8 offset-2 text-left">

                <div class="table-wrapper table-responsive table-bordered">
                    <!--Table-->
                    <table class="table table-hover mb-0 table-striped ">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-tag"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteName)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.SiteName)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-link"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteFooter)</td>

                                <td class="text-primary">@Html.DisplayFor(model => model.SiteFooter)</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-search-plus"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.FavIconURL)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.FavIconURL)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.SiteOwner)</td>
                                <td class="text-primary">@Html.DisplayFor(model => model.SiteOwner)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.CustomCSS)</td>
                                <td class="text-primary">@Html.DisplayFor(model => model.CustomCSS)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.CustomJS)</td>
                                <td class="text-primary">@Html.DisplayFor(model => model.CustomJS)</td>
                            </tr>
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-tags"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.IsCustomCSSOn)</td>
                                <td class="text-primary"> @Html.CheckBoxFor(model => model.IsCustomCSSOn, new { style = "opacity: 1" })</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-search"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.IsCustomJsOn)</td>
                                <td class="text-primary"> @Html.CheckBoxFor(model => model.IsCustomJsOn, new { style = "opacity: 1" })</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-search"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.IsRegister)</td>
                                <td class="text-primary"> @Html.CheckBoxFor(model => model.IsRegister, new { style = "opacity: 1" })</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-pager"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.GoogleSiteVerification)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.GoogleSiteVerification)</td>
                            </tr>
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-image"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.GoogleAds)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.GoogleAds)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.UpdateBy)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.UpdateBy)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SiteLastUpdated)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.SiteLastUpdated)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.HomeFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.HomeFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.HomeUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.HomeUrl)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.AboutFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.AboutFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.AboutUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.AboutUrl)</td>
                            </tr>
                       
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ContactUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.ContactUrl)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ContactFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.ContactFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.RolesFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.RolesFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.RolesUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.RolesUrl)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ContactNumberFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.ContactNumberFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.EmailFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.EmailFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.AddresFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.AddresFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.CopyrightFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.CopyrightFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.LoginFooter)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.LoginFooter)</td>
                            </tr>
                            <tr class=" ">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-file-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.LoginUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.LoginUrl)</td>
                            </tr>
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-newspaper"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ContentFooter)</td>
                                <td class="collapse" id="collapseExample">@Html.Raw(Model.ContentFooter)</td>
                                <td>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        View Content
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color col-md-9 offset-2 ">
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fas fa-trash-alt pr-2"></i> Delete</button> |
                        <a class="btn btn-primary" href="/OPMSAdmin/SiteSettings/Index"><i class="fas fa-undo-alt pr-2"></i> Back to Menu</a>
                    </div>
                }
            </div>

        </div>


    </div>

</div>


@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document).ready(function () {
                $(".button-collapse").sideNav({
                    breakpoint: 1200
                });

                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                var ps = new PerfectScrollbar(sideNavScrollbar);
                Ps.initialize(el);
            });
    </script>
}