@model OPMS.Models.SiteSettings

@{
    ViewBag.Title = "SiteSettings";
}
<hr />
<h4>Détails des paramètres du site</h4>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRegister)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavIconURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavIconURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomCSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomCSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleSiteVerification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleSiteVerification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogelAds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogelAds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCustomCSSOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCustomCSSOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomJS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomJS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCustomJsOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCustomJsOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteLastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteLastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolesFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RolesUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumberFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumberFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddresFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddresFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyrightFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyrightFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginFooter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginFooter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id },new { @class="btn btn-default"}) |
    <a class="btn btn-primary" href="/OPMSAdmin/SiteSettings/Index">Retour à la liste principale</a>
</p>
