@model List<OPMS.ViewModels.AdminstratorPanelVM>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/OPMSAdmin/Views/Shared/_AdminLayout.cshtml";
}
@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {


        if (Request.IsAuthenticated)
        {

            foreach (var item in Model)
            {
                <div class="container my-5">


                    <!--Section: Content-->
                    <section class="">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-5 col-md-12 mb-lg-0 mb-5 pt-3">

                                <!-- Featured image -->
                                <div class="view overlay rounded z-depth-0 mb-lg-0 mb-4 ">
                                    <img class="img-fluid" src="~/Content/Img/dashboard_nklg.svg" alt="Sample image">
                                  
                                </div>

                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

                                <h3 class="font-weight-bold mb-2 text-primary">@item.Title</h3>
                                <h4 class="font-weight-normal mb-2 text-white ">@Html.Raw(item.SubContent)</h4>
                                <p class="">@Html.Raw(item.Content)</p>

                                <button class="btn btn-primary bg-transparent " data-toggle="modal" data-target="#basicExampleModal">@item.AuthenticatedUser ,read the roles<i class="fas fa-cog ml-3 fa-1x fa-spin"></i></button>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!--Section: Content-->


                </div>
 
                <!-- Modal -->
                <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">@item.Title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body justify-content-center">
                                <h3 class="font-weight-normal mb-2">@item.Title</h3>
                                <h4 class="font-weight-normal mb-2">@Html.Raw(item.SubContent)</h4>
                                <p class="text-muted">@Html.Raw(item.Content)</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class=" my-0 py-0">
                        <div class="container z-depth-1 blue lighten-5">


                            <!--Section: Content-->
                            <section class="px-md-3 mx-md-3 text-center dark-grey-text">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6 mb-3 mb-md-0 my-3 py-3">

                                        <h3 class="font-weight-bold">@item.Title</h3>

                                        <p class="text-muted">
                                            @Html.Raw(item.SubContent)
                                        </p>
                                        <hr />
                                        <p class="text-muted">
                                            @Html.Raw(item.Content)
                                        </p>


                                        <hr class="pt-2">

                                        <h3 class="font-weight-bold justify-content-center">@item.AuthenticatedUser, <small> You're in the dashboard</small></h3>
                                        <div class="social pb-2">
                                            <a class="btn-floating btn-sm  btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                                            <!--Twitter-->
                                            <a class="btn-floating btn-sm  btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                                            <!--Google +-->
                                            <a class="btn-floating btn-sm  btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
                                            <!--Linkedin-->
                                            <a class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                        <!--Facebook-->


                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-md-6 mt-4 mb-md-0 my-5 pt-5 mt-5">

                                        <img src="~/Content/Img/dashboard_nklg.svg" class="img-fluid" alt="" id="zoom">

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->


                            </section>
                            <!--Section: Content-->


                        </div>
                    </div>*@


                @*<div class="jumbotron text-center">

                        <h3> @User.Identity.Name, <br /> Your in the Dashboard Area </h3>


                        <br />
                        <h4>@item.Title</h4>
                        <h5> @item.SubContent</h5>
                        <p>@Html.Raw(item.Content)</p>

                    </div>*@




            }
        }
    }
}
@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
}