@model OPMS.ViewModels.HomeContentVM

@if (Model?.Id != null)
{
<div class="container">


    <!--Section: Content-->
    <div class="mask d-flex justify-content-center align-items-center h-100">
        <div class="dark-grey-text my-5 h-100 mt-xl-5 mb-5">

            <div class="row pr-lg-5 my-5">
                <div class="col-md-7 mb-4">

                    <div class="view">
                        <img src="~/Content/Img/undraw_web_devices_ad58.svg" class="img-fluid img-responsive" alt="smaple image">
                    </div>

                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <div>

                        <h3 class="font-weight-bold mb-4">@Model.Title</h3>
                        <p class=" text-justify dark-grey-text">@Html.Raw(Model.Content)</p>
                        <h3 class="font-weight-bold mb-4">@Model.SubTitle</h3>
                        <p class="text-justify dark-grey-text">@Html.Raw(Model.SubContent)</p>

                       
                        <a href="@Model.ButtonUrl" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0"><i class="fas fa-book-reader fa-lg pr-1"></i> Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
}
@section HomeCustomCSS{

    <link href="~/Content/HomeCustomCSS.css" rel="stylesheet" />

}