@model OPMS.ViewModels.MainPostSystemVM

@{
    ViewBag.Title = "Delete";
}
<hr />
<h4>Voulez-vous vraiment supprimer le message attribué pour <button disabled class="btn btn-danger">@Model.UserName</button></h4>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostSystemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostSystemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a class="btn btn-primary" href="/OPMSAdmin/MainPostSystem/PostData">Revenir à la liste principale</a>
    </div>
    }
</div>
