@model OPMS.ViewModels.SocialWorkerProfileList


@if (Model.SocialProfileVM != null)
{

<div class="container pt-0 mt-0">


    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text mt-0 pt-0">

        <!-- Section heading -->
        <h3 class="font-weight-bold  text-primary">Our amazing team</h3>
        <hr class="w-25 mb-5 hr-light" />
        <!-- Section description -->
        

        <!-- Grid row -->
        <div class="row">
            @foreach (var item in Model.SocialProfileVM)
            {
            

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card  blue lighten-5 z-depth-1 mx-3">
                    <div class="avatar mx-3 my-3 mt-md-4" id="ProfileBackImage">
                        <img src="@item.ImageUrl" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold text-uppercase mt-3 mb-3 mb-sm-3 text-primary">@item.FullName</h4>
                    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header mt-0">
                                    <h5 class="modal-title" id="exampleModalLabel">@item.JobTitle</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    
                                    @Html.Raw(item.Content)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="font-weight-bold text-uppercase blue-text mb-0"><strong>@item.JobTitle</strong></p>

                    <div class="card-body mt-0 pt-0">
                        <p class="justify-content-center">
                            <hr />
                            @Html.Raw(item.Content)
                        </p>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/contact" class="btn btn-primary btn-rounded waves-effect btn-md ml-lg-0" data-toggle="modal" data-target="#basicExampleModal"><i class="far fa-eye fa-lg pr-1"></i> View Profile</a>
                                <!-- Button trigger modal -->
                                <!-- Modal -->

                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            }
            <!-- Grid column -->
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>


}
@section SocialWorkerCustomCSS{

    <link href="~/Content/SocialWorkerCustomCSS.css" rel="stylesheet" />

}
