@model OPMS.ViewModels.AboutPageViewModel

@{
    ViewBag.Title = "About";
}
<hr />
<h4>Détails de la page</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ButtonUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ButtonUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAboutMetaDataOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAboutMetaDataOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKeywordseAbout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKeywordseAbout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaDescriptionAbout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescriptionAbout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVisibleToSearchEngineAbout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVisibleToSearchEngineAbout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectoinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectoinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortSectionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id },new { @class="btn btn-default"}) |
    <a class="btn btn-primary" href="/OPMSAdmin/AboutPage/Index">Retour à la liste principale</a>
</p>
