@model OPMS.ViewModels.ContactDetailsVM

@if (Model?.Id != null)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
            <h4>@Model.CityName</h4>
            <h4>@Model.AreaName</h4>
            <h4>@Model.StreetName</h4>
            <h4>@Model.GoogleAPIMap</h4>
            <h4>@Model.CenterName</h4>
            <h4>@Model.CenterEmail</h4>
            <h4>@Model.MobileNumber</h4>


        </div>
        <div class="panel-body">
            @Html.Raw(Model.CityName)
        </div>
    </div>
}
