@model OPMS.ViewModels.ContactInfoVM

@if (Model?.Id != null)
{
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Title</h3>
        <h4>@Model.PlaceName</h4>
        <h4>@Model.PlaceAddress</h4>
        <h4>@Model.PlaceContactNumber</h4>
        <h4>@Model.WebSite</h4>
        <h4>@Model.PostalCode</h4>
        <h4>@Model.GoogleMap</h4>


    </div>
    <div class="panel-body">
        @Html.Raw(Model.Content)
    </div>
</div>
}
