@model OPMS.ViewModels.ContactPageViewModel
@{
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
@if (Model?.Id !=null)
{
<div class="jumbotron">
    <img src="@Html.Raw(Model.ImageUrl)" />
    <h1>@Model.Title</h1>
    <h5>@Model.Description</h5>
    <p>@Html.Raw(Model.Content)</p>
    <hr />
    <p>@Html.Raw(Model.SubContent)</p>
</div>
}


