@model OPMS.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Delete";
}
<hr />
<h4>Etes-vous sûr que vous voulez supprimer <button class="btn btn-danger">@Model.FullName Contact</button> ?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactedLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactedLocation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a class="btn btn-primary" href="/OPMSAdmin/Contacts/Index">Retour à la liste principale</a>
    </div>
    }
</div>
