@model OPMS.ViewModels.LoginViewModel

@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_AuthrizationLayout.cshtml";
}
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="col-md-offset-6">Zone de connexion</h4>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-6">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="col-md-6">
            <div class="">
                <img src="~/Content/Img/undraw_authentication_fsn5.svg" class="img-responsive" />
            </div>
          
        </div>
    </div>
</div>


@section AccountCustomCSS{

    <link href="~/Content/AccountsCustomCSS.css" rel="stylesheet" />

}