@model OPMS.ViewModels.SWBannerVM

@{
    ViewBag.Title = "Social Worker Page";
  
}
<hr />
<h4>Détails de la bannière <button disabled class="btn btn-primary"> @Model.BTitle</button></h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BSubTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSubTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BButton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BButton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BButtonUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BButtonUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" }) |
    <a class="btn btn-primary" href="/OPMSAdmin/SWBanner/Index">Retour à la liste principale</a>
</p>
