@model OPMS.ViewModels.SWBannerVM

@{
    ViewBag.Title = "Social Worker Page";

}
<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Update The Banner</h4>
        <!-- Subtitle -->
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <hr />

        <h4 class="light-blue-text  ">Are you sure you want to update the <button class="btn btn-info btn-sm  btn-rounded"><i class="fas fa-edit pr-2"></i> @Model.BTitle </button> Banner ?</h4>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BTitle, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.EditorFor(model => model.BTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BSubTitle, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.EditorFor(model => model.BSubTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BSubTitle, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BImage, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.EditorFor(model => model.BImage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BImage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BButton, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.EditorFor(model => model.BButton, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BButton, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BButtonUrl, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.EditorFor(model => model.BButtonUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BButtonUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group md-form offset-1 col-md-9">
                    @Html.LabelFor(model => model.BContent, htmlAttributes: new { @class = "control-label offset-1" })
                    <div class="offset-3">
                        @Html.TextAreaFor(model => model.BContent)
                        @Html.ValidationMessageFor(model => model.BContent, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group md-form offset-3 col-md-9">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="Create" class="btn btn-primary"><i class="fas fa-save pr-2"></i> Save</button>  |
                        <a class="btn btn-primary" href="/OPMSAdmin/SWBanner/Index"><i class="fas fa-undo-alt pr-2"></i> Back to menu</a>
                    </div>
                </div>
            </div>
        }


    </div>

</div>

@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("BContent")
    </script>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });

            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
            Ps.initialize(el);
        });
    </script>
}
