@model OPMS.ViewModels.ContactInfoVM

@{
    ViewBag.Title = "ContactInfo";
}
<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Delete The contact info</h4>
        <!-- Subtitle -->
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <hr />
        <h4 class="text-danger">Are you sure you want to delete the <button disabled class="btn btn-danger btn-sm  btn-rounded"><i class="fas fa-trash-alt pr-2"></i> @Model.Title</button> contact info ?</h4>
        <br />
        <div>
            <div class="col-md-8 offset-2 text-left">

                <div class="table-wrapper table-responsive table-bordered">
                    <!--Table-->
                    <table class="table table-hover mb-0 table-striped ">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-hashtag"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Title)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.Title)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-map-marker-alt"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.PlaceName)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.PlaceName)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-map-signs"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.PlaceAddress)</td>
                                <td class="text-primary">  @Html.DisplayFor(model => model.PlaceAddress)</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-phone-square"></i></a>
                                </th>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.PlaceContactNumber)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.PlaceContactNumber)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-pager"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.WebSite)</td>
                                <td class="text-primary">@Html.DisplayFor(model => model.WebSite)</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-map-marked-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.PostalCode)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.PostalCode)</td>
                            </tr>

                  
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-map-marked-alt"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.GoogleMap)</td>
                                <td class="collapse" id="collapseExample">@Html.Raw(Model.GoogleMap)</td>
                                <td>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        View Content
                                    </button>
                                </td>


                            </tr>

                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-newspaper"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Content)</td>
                                <td class="collapse" id="collapseExample1">@Html.Raw(Model.Content)</td>
                                <td>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample1"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        View Content
                                    </button>
                                </td>


                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
                <br />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color col-md-9 offset-2 ">
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fas fa-trash-alt pr-2"></i> Delete</button> |
                        <a class="btn btn-primary" href="/OPMSAdmin/ContactInfo/Index"><i class="fas fa-undo-alt pr-2"></i> Back to Menu</a>
                    </div>
                }
            </div>

        </div>


    </div>

</div>

@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $(document).ready(function () {
                $(".button-collapse").sideNav({
                    breakpoint: 1200
                });

                var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                var ps = new PerfectScrollbar(sideNavScrollbar);
                Ps.initialize(el);
            });
    </script>
}