@model IEnumerable<OPMS.ViewModels.MainPostSystemVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PosteLayout.cshtml";
}
<hr />


@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Resident"))
    {


        if (Request.IsAuthenticated)
        {

            foreach (var item in Model.Where(x => x.Users.UserName == User.Identity.Name))
            {
                if (item.HasPost)
                {
                    <div class="container mt-5 pt-5">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card card-cascade narrower blue lighten-5">

                                    <!-- Card image -->
                                    <div class="view view-cascade gradient-card-header  blue lighten-1 py-sm-3 py-md-3 py-lg-3 ml-md-3 ml-sm-3 ml-lg-3 ">

                                        <!-- Title -->
                                        <h2 class="card-header-title">Post Status</h2>
                                        <!-- Subtitle -->


                                    </div>
                                    <div class="card-img-top  pt-3   px-3 mb-0 pb-0">
                                        <img class="card-img-top img-fluid " src="~/Content/Img/HavePost.svg" alt="Card-post">
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">

                                        <h2 class="card-title font-weight-bold blue-text text-capitalize mb-2">hi, @User.Identity.Name </h2>

                                        <h5 class=" blue-text font-weight-bold pr-4"> <i class="fas fa-check blue-text text-capitalize"></i> You Have Post </h5>
                                        <h6 class=" blue-text font-weight-bold pt-1 text-capitalize mb-0 ">Get Your Post from The Office</h6>
                                    </div>
                                    <div class="card-footer text-muted text-center">
                                        @DateTime.Now
                                    </div>
                                </div>
                                <!-- Card Regular -->
                            
                                <!-- Card Regular -->

                            </div>
                            <div class="col-md-6 ">
                                <div class="card card-cascade narrower  blue lighten-5">

                                    <!--Card image-->
                                    <div class="view view-cascade gradient-card-header  blue lighten-1 py-sm-3 py-md-4 py-lg-3 ml-md-3 ml-sm-3 ml-lg-3 mb-5 ">

                                        <!-- Title -->
                                        <h2 class="card-header-title">Post Details</h2>
                                        <!-- Subtitle -->


                                    </div>
                                    <!--/Card image-->

                                    <div class="">

                                        <div class="table-wrapper table-responsive ">
                                            <!--Table-->
                                            <table class="table table-hover mb-0 ">
                                                <tbody>
                                                    <tr class="pt-4">
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm  blue lighten-1"><i class="fas fa-tag"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Post Title</td>
                                                        <td class="text-primary font-weight-bold pt-4">@item.Title</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue lighten-1"><i class="fas fa-envelope"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Post type</td>

                                                        <td class="text-primary font-weight-bold pt-4">@item.PostSystems.Title</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue lighten-1"><i class="fas fa-user-check"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Assigned By</td>
                                                        <td class="text-primary font-weight-bold pt-4">@item.SendedBy</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue lighten-1"><i class="fas fa-paper-plane"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Sent by</td>
                                                        <td class="text-primary font-weight-bold pt-4">@item.SocialWorker.FullName</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue lighten-1"><i class="fas fa-calendar-check"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Sent Date</td>
                                                        <td class="text-primary font-weight-bold pt-4">@item.SentDateTime</td>
                                                    </tr>
                                                    <tr class="text-danger ">
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue lighten-1"><i class="fas fa-calendar-times"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold pt-4">Expiration Date</td>
                                                        <td class="text-danger font-weight-bold pt-4">@item.PostExpirationDate</td>
                                                    </tr>
                                                </tbody>
                                                <!--Table body-->
                                            </table>
                                            <!--Table-->
                                        </div>

                                    </div>
                                    <div class="card-footer text-muted text-center mt-4">
                                        @DateTime.Now
                                    </div>
                                </div>
                                <!-- Table with panel -->
                            </div>

                        </div>
                    </div>

                }
                else
                {
                    <div class="container m-0 p-0 text-center">
                        <div class="  mt-5 pt-5">
                            <div class="col-md-6 col-sm-12 col-md-6 offset-md-4 col-lg-6 offset-lg-4 ">

                                <div class="card card-cascade narrower blue lighten-5">

                                    <!-- Card image -->
                                    <div class="view view-cascade gradient-card-header  blue lighten-1 py-sm-3 py-md-3 py-lg-3 ml-md-3 ml-sm-3 ml-lg-3 ">

                                        <!-- Title -->
                                        <h3 class="card-header-title">Post Status</h3>
                                        <!-- Subtitle -->


                                    </div>
                                    <div class="card-img-top  pt-3   px-3 mb-0 pb-0">
                                        <img class="card-img-top " src="~/Content/Img/No-Post-orginal.svg" alt="Card image cap">
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">

                                        <h2 class="card-title font-weight-bold blue-text text-capitalize mb-2">hi, @User.Identity.Name </h2>

                                        <h5 class="font-weight-bold blue-text pr-4  "> <i class="fas fa-times text-danger"></i> You Have No Post </h5>

                                    </div>
                                    <div class="card-footer text-muted text-center">
                                        @DateTime.Now
                                    </div>
                                </div>
                                <!-- Card Regular -->
                                <!-- Card Regular -->

                            </div>

                        </div>
                    </div>
                   


                }

            }

        }
        else
        {
            

        }
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <!-- Card -->
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-sm-6 col-md-6   pt-3 pb-0 ">
                    <div class="">
                        <img src="~/Content/Img/WelcomeBack.svg" class="img-fluid img-responsive" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 mt-5 pb-4">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header  blue lighten-1">

                            <!-- Title -->
                            <h2 class="card-header-title mb-3">Admin Authrization</h2>
                            <!-- Text -->
                            <p class="mb-0"><i class="fas fa-calendar mr-2"></i>@DateTime.Now</p>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center  blue lighten-5 pb-0 pt-5">



                            <h2 class=" text-primary text-capitalize font-weight-bold pt-2"> Hi, @User.Identity.Name</h2>
                            <h4 class="text-capitalize text-primary pb-4 "> welcome back </h4>

                            <!-- Link -->

                            <div class="card-footer">
                                <a href="/OPMSAdmin/admin/Index" class="btn btn-rounded btn-primary btn-lg" target="_self"><i class="fas fa-cog fa-spin fa-x"></i>  Go to Admin Panel</a>
                            </div>

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
       
        <!-- Card -->

    }
    else
    {
        <div class="container pt-5">

            <div class="bg-transparent pt-5">
                <!-- Mask & flexbox options-->
                <div class="mask">
                    <!-- Content -->
                    <div class="container h-100">
                        <!--Grid row-->
                        <div class="row align-items-center h-100 pt-3">
                            <!--Grid column-->
                            <div class="col-md-6  text-center">
                                <h3 class="text-primary  text-uppercase font-weight-bold mx-5">Authrization is required</h3>
                                <hr class="hr-light my-4">
                                <a href="/Authorization" class="btn btn-primary btn-rounded waves-effect btn-lg ml-lg-0 font-weight-bold"><i class="fas fa-key fa-lg pr-1"></i> Login</a>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 pt-3">
                                <img src="~/Content/Img/Login.svg" alt="" class="img-fluid" id="zoom">
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
                    <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
            </div>


        </div>




    }

}

@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}

