@model IEnumerable<OPMS.ViewModels.MainPostSystemVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PosteLayout.cshtml";
}
<hr />


@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Resident"))
    {


        if (Request.IsAuthenticated)
        {

            foreach (var item in Model.Where(x => x.Users.UserName == User.Identity.Name))
            {
                if (item.HasPost)
                {

                    <div class="jumbotron text-center">


                        <h3> Bonjour, cher @User.Identity.Name</h3>
                        <h5> <i class="glyphicon glyphicon-ok"></i> You have a Post</h5>
                        <img src="~/Content/Img/undraw_message_sent_1030.svg" class="img-responsive" />
                        <br />
                        <h5> <i class="glyphicon glyphicon-envelope"></i> Post Title: @item.Title</h5>
                        <h5> <i class="glyphicon glyphicon-flag"></i> Type of the post : @item.PostSystems.Title</h5>
                        <h5> <i class="glyphicon glyphicon-tag"></i> Assigned By : @item.SendedBy</h5>
                        <h5> <i class="glyphicon glyphicon-user"></i> Sent By : @item.SocialWorker.FullName</h5>
                        <h5> <i class="glyphicon glyphicon-time"></i>  Sent Date:@item.SentDateTime</h5>
                        <h5 class="label label-danger"> <i class="glyphicon glyphicon-warning-sign"> </i>  Expiration Date : @item.PostExpirationDate</h5>
                    </div>

                }
                else
                {
                    <div class="jumbotron">
                        <h3>Bonjour, cher @User.Identity.Name</h3>
                        <h5> <i class="glyphicon glyphicon-remove"></i> You have no Post</h5>
                      
                        <img src="~/Content/Img/No-Post.svg" class="img-responsive" />
                        <hr />
                    </div>

                }

            }

        }
        else
        {
            <div class="jumbotron">
                <h4>Authorization Required</h4>
                <a href="/Authorization" class="btn btn-primary">Login</a>
                <hr />
                <img src="~/Content/Img/Gif.gif" class="img-responsive" id="Login" />
                <hr />
            </div>

        }
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
            <div class="jumbotron">
               <h4>Welcome Back <br /> @User.Identity.Name</h4>
                
                <img src="~/Content/Img/undraw_Hello_qnas.svg" class="img-responsive" id="Login" />
             
                <a href="/OPMSAdmin/Messages/SMSRecords" class="btn btn-primary btn-lg" target="_blank"><i class="glyphicon glyphicon-wrench"></i> Go to Admin Panel</a>
            </div>
    }
    else
    {
            <div class="jumbotron">
                <h4>Authorization is required</h4>
                <a href="/Authorization" class="btn btn-primary">Login</a>
                <hr />
                <img src="~/Content/Img/undraw_referral_4ki4.svg" class="img-responsive" id="Login" />
            </div>
    }

}

@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}

