@model IEnumerable<OPMS.ViewModels.MainPostSystemVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PosteLayout.cshtml";
}
<hr />


@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Resident"))
    {


        if (Request.IsAuthenticated)
        {

            foreach (var item in Model.Where(x => x.Users.UserName == User.Identity.Name))
            {
                if (item.HasPost)
                {
                    <div class="container mt-5 py-2 pt-5 pr-3 pl-3">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Card Regular -->
                                <div class="card  h-100 bg-transparent">

                                    <!-- Card image -->
                                    <div class="view view-cascade overlay pr-3 pl-3 pt-2 pb-0 mb-0">
                                        <img class="card-img-top " src="~/Content/Img/HavePost.svg" alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center  ml-md-0  ml-0 mr-0 pr-0 pl-0 pb-5">

                                        <!-- Title -->
                                        <h2 class="card-title font-weight-bold blue-text text-capitalize">hi, @User.Identity.Name </h2>

                                        <h4 class=" blue-text pr-4   "> <i class="fas fa-check blue-text text-capitalize"></i> You Have Post </h4>
                                        <h6 class=" blue-text  pt-2 text-capitalize ">  Get Your Post from The Office</h6>


                                    </div>

                                    <!-- Card footer -->
                                    <div class="card-footer text-muted text-center">
                                        @DateTime.Now
                                    </div>

                                </div>
                                <!-- Card Regular -->

                            </div>
                            <div class="col-md-6 my-2 my-md-2 pr-md-3 pl-md-3 ">
                                <div class="card card-cascade  pr-md-3 pl-md-3 blue lighten-5">

                                    <!--Card image-->
                                    <div class="view view-cascade gradient-card-header blue-gradient narrower py-lg-0   mb-0   mr-md-0 ml-md-0 mb-5 justify-content-between align-items-center">
                                        <h5 class="font-weight-bold mt-3 mb-3 ">Post Details</h5>

                                    </div>
                                    <!--/Card image-->

                                    <div class="">

                                        <div class="table-wrapper table-responsive ">
                                            <!--Table-->
                                            <table class="table table-hover mb-0 ">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-tag"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Post Title</td>
                                                        <td class="text-primary">@item.Title</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-envelope"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Post type</td>

                                                        <td class="text-primary">@item.PostSystems.Title</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-user-check"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Assigned By</td>
                                                        <td class="text-primary">@item.SendedBy</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-paper-plane"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Sent by</td>
                                                        <td class="text-primary">@item.SocialWorker.FullName</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-calendar-check"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Sent Date</td>
                                                        <td class="text-primary">@item.SentDateTime</td>
                                                    </tr>
                                                    <tr class="text-danger ">
                                                        <th scope="row">
                                                            <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-calendar-times"></i></a>
                                                        </th>
                                                        <td class="font-weight-bold">Expiration Date</td>
                                                        <td class="text-danger">@item.PostExpirationDate</td>
                                                    </tr>
                                                </tbody>
                                                <!--Table body-->
                                            </table>
                                            <!--Table-->
                                        </div>

                                    </div>

                                </div>
                                <!-- Table with panel -->
                            </div>

                        </div>
                    </div>

                }
                else
                {

                    <div class="container mt-5 pt-5 py-2">
                        <div class="row">

                            <div class="col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                                <!-- Card Regular -->
                                <div class="card  h-100   bg-transparent">

                                    <!-- Card image -->
                                    <div class="view view-cascade overlay pr-3 pl-3 pt-3">
                                        <img class="card-img-top " src="~/Content/Img/No-Post-orginal.svg" alt="Card image cap">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center ml-md-0  ml-0 mr-0 pr-0 pl-0 pb-5">

                                        <!-- Title -->
                                        <h2 class="card-title font-weight-bold blue-text text-capitalize">hi, @User.Identity.Name </h2>

                                        <h4 class="font-weight-bold blue-text pr-4  "> <i class="fas fa-times text-danger"></i> You Have No Post </h4>



                                    </div>

                                    <!-- Card footer -->
                                    <div class="card-footer text-muted text-center">
                                        @DateTime.Now
                                    </div>

                                </div>
                                <!-- Card Regular -->

                            </div>

                        </div>
                    </div>


                }

            }

        }
        else
        {
            

        }
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <!-- Card -->
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-sm-6 col-md-6   pt-3 pb-0 ">
                    <div class="">
                        <img src="~/Content/Img/WelcomeBack.svg" class="img-fluid img-responsive" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 mt-5">
                    <div class="card card-cascade wider">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h2 class="card-header-title mb-3">Admin Authrization</h2>
                            <!-- Text -->
                            <p class="mb-0"><i class="fas fa-calendar mr-2"></i>@DateTime.Now</p>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center bg-transparent pb-0 pt-5">



                            <h2 class=" blue-text text-capitalize  pt-2"> Hi, @User.Identity.Name</h2>
                            <h4 class="text-capitalize blue-text pb-4 "> welcome back </h4>

                            <!-- Link -->

                            <div class="card-footer">
                                <a href="/OPMSAdmin/admin/Index" class="btn btn-rounded btn-primary btn-lg" target="_self"><i class="fas fa-cog fa-spin fa-x"></i>  Go to Admin Panel</a>
                            </div>

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->
                </div>

            </div>
        </div>
       
        <!-- Card -->

    }
    else
    {
        <div class="container my-5 py-4 ">

            <div class="bg-transparent my-5">
                <!-- Mask & flexbox options-->
                <div class="mask">
                    <!-- Content -->
                    <div class="container h-100">
                        <!--Grid row-->
                        <div class="row align-items-center h-100">
                            <!--Grid column-->
                            <div class="col-md-6  text-center">
                                <h3 class="blue-text mb-4 text-uppercase font-weight-bold mx-5">Authrization is required</h3>
                                <hr class="hr-light my-4">
                                <a href="/Authorization" class="btn btn-primary btn-rounded waves-effect btn-lg ml-lg-0"><i class="fas fa-key fa-lg pr-1"></i> Login</a>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 my-3">
                                <img src="~/Content/Img/Login.svg" alt="" class="img-fluid" id="zoom">
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
                    <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
            </div>


        </div>




    }

}

@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}

