@model OPMS.ViewModels.AdminstratorPanelVM

@{
    ViewBag.Title = "Details";
}

<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Details admin panel</h4>
        <!-- Subtitle -->
    </div>

    <div class="card-body card-body-cascade text-center">

        <hr />
        <h4 class="text-info">Details of the <button disabled class="btn btn-info  btn-sm  btn-rounded"><i class="fas fa-info-circle pr-2"></i> @Model.Title</button> Panel</h4>
        <br />
        <div>
            <div class="col-md-8 offset-2 text-left">
                <div class="table-wrapper table-responsive table-bordered table-striped ">
                    <!--Table-->
                    <table class="table table-hover mb-0 table-striped ">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-user-circle"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Title)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.Title)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-user-circle"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.ImageUrl)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.ImageUrl)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="fas fa-user-circle"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.AuthenticatedUser)</td>
                                <td class="text-primary"> @Html.DisplayFor(model => model.AuthenticatedUser)</td>
                            </tr>
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-newspaper"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.Content)</td>
                                <td class="collapse" id="collapseExample">@Html.Raw(Model.Content)</td>
                                <td>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        View Content
                                    </button>
                                </td>
                            </tr>
                            <tr class="">
                                <th scope="row">
                                    <a class="btn-floating btn-sm blue-gradient"><i class="far fa-newspaper"></i></a>
                                </th>
                                <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.SubContent)</td>
                                <td class="collapse" id="collapseExample1">@Html.Raw(Model.SubContent)</td>
                                <td>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample1"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        View Content
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>

                <div class="col-md-9 offset-3 pt-4">
                    @Html.ActionLink("Update", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
                    <a class="btn btn-primary" href="/OPMSAdmin/AdminPanel/Index"><i class="fas fa-undo-alt pr-2"></i> Back to Menu</a>
                </div>



            </div>

        </div>


    </div>

</div>


@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content")
    </script>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });

            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
            Ps.initialize(el);
        });
    </script>
}