@model OPMS.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1990 12:00:00 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="@Model.SiteName" rel="stylesheet" />
    <link href="@Model.LayoutTitle" rel="stylesheet" />
    <link href="@Model.GoogelAds" rel="stylesheet" />
    <link href="@Model.GoogleSiteVerification" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@


    @if (Model.IsVisibleToSearchEngine == true)
    {
        <meta name="robots" content="follow,index" />
    }
    else if (Model.IsVisibleToSearchEngine == null)
    {
        <meta name="robots" content="follow,index" />
    }
    else
    {
        <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    }
    @if (Model.IsMetaDataOn != null)
    {
        <meta name="author" content="@Model.SiteOwner" />
        <meta name="keywords" content="@Model.MetaKeywords" />
        <meta name="description" content="@Model.MetaDescritpion" />
    }
    @*<link href="@Model.FavIcon" rel="icon" type="image/svg" sizes="16X16" />*@
    @*<link href="https://bootswatch.com/3/paper/bootstrap.min.css" rel="stylesheet" />*@
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark blue lighten-1 scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Content/Img/LogoCoallia_Couleur (2).png" title="title" alt="additional title" />
                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                @Html.Action("PagesMenuPartial", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fuild">

        @RenderBody()
        @RenderSection("AboutCustomCSS", required: true)
        <div class="footerBack">
            <footer class="page-footer font-small bg-transparent pt-5 ">

                <div>
                    <div class="container mt-3 mb-n4">

                        <!-- Grid row-->
                        <div class="row  d-flex align-items-center">

                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-5 text-center text-md-left">
                                <h3 class=" text-white">@Model.SiteFooter</h3>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6 col-lg-7 text-center text-md-right ">

                                <!-- Facebook -->
                                <a class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                                <!--Twitter-->
                                <a class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                                <!--Google +-->
                                <a class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                                <!--Linkedin-->
                                <a class="btn-floating btn-sm btn-li"><i class="fab fa-linkedin-in"></i></a>
                                <!--Instagram-->
                                <a class="btn-floating btn-sm btn-ins"><i class="fab fa-instagram"></i></a>
                                <!--Pinterest-->


                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row-->

                    </div>
                </div>

                <!-- Footer Links -->
                <div class="container text-center text-md-left pt-5">

                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto pt-5">
                            <div class="card-img-top">
                                <img src="~/Content/Img/Footersvg.svg" class="img-fluid" />
                            </div>


                        </div>
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-3 pb-0 mb-0 mt-0">

                            <!-- Content -->
                            <h6 class="text-uppercase font-weight-bold">@Model.SiteName</h6>
                            <hr class="white accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width:60px;">
                            <p class="pt-2">
                                @Html.Raw(Model.ContentFooterBase)
                            </p>



                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">

                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Links</h6>
                            <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                            <p>
                                <a href="@Model.HomeUrlBase"> <i class="fas fa-home mr-3"></i>@Model.HomeFooter</a>
                            </p>
                            <p>
                                <a href="@Model.AboutUrl"><i class="fas fa-building mr-3"></i>@Model.AboutFooter</a>
                            </p>
                            <p>
                                <a href="@Model.ContactUrlBase"><i class="fas fa-phone-square-alt mr-3"></i>@Model.ContactFooterBase</a>
                            </p>
                            <p>
                                <a href="@Model.LoginUrlBase"><i class="fas fa-sign-in-alt mr-3"></i>@Model.LoginFooter</a>
                            </p>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">

                            <!-- Links -->
                            <h6 class="text-uppercase font-weight-bold">Contact</h6>
                            <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 80px;">
                            <p>
                                <a href="#!"><i class="fas fa-map-marker-alt mr-3"></i> @Model.AddresFooterBase</a>
                            </p>
                            <p>
                                <a href="#!"><i class="fas fa-mobile-alt mr-3"></i> @Model.ContactNumberFooterBase</a>
                            </p>
                            <p>
                                <a href="#!"><i class="fas fa-at mr-3"></i>@Model.EmailFooterBase</a>
                            </p>
                            <p>
                                <a href="#!"> <i class="far fa-building mr-3"></i>@Model.SiteOwner</a>
                            </p>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 bg-transparent">
                    Site Last Update:@Model.SiteLastUpdate<br />
                    @Model.CopyrightFooterBase
                </div>
                <!-- Copyright -->

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>