@model OPMS.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="@Model.SiteName" rel="stylesheet" />
    <link href="@Model.GoogelAds" rel="stylesheet" />
    <link href="@Model.GoogleSiteVerification" rel="stylesheet" />
    <title>@ViewBag.Title-@Model.SiteName</title>
    <link href="@Html.Raw(Model.GoogleSiteVerification)" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @if (Model.IsVisibleToSearchEngine == true)
    {
        <meta name="robots" content="follow,index" />
    }
    else if (Model.IsVisibleToSearchEngine == null)
    {
        <meta name="robots" content="follow,index" />
    }
    else
    {
        <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    }
    @if (Model.IsMetaDataOn != null)
    {
        <meta name="author" content="@Model.SiteOwner" />
        <meta name="keywords" content="@Model.MetaKeywords" />
        <meta name="description" content="@Model.MetaDescritpion" />
    }
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark blue lighten-1 scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Coallia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                @Html.Action("PagesMenuPartial", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container-fuild body-content">
        <div class="row">
            <div class="col-md-12">
                <hr />
                @Html.Action("Index", "ContactForms")
                @RenderBody()
                @RenderSection("ContactCustomCSS", required: true)
                <hr />


            </div>

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Model.SiteOwner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>