@model OPMS.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Model.SiteName" rel="stylesheet" />
    <link href="@Model.LayoutTitle" rel="stylesheet" />
    <link href="@Model.GoogelAds" rel="stylesheet" />
    <link href="@Model.GoogleSiteVerification" rel="stylesheet" />
    <link href="" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@


    @if (Model.IsVisibleToSearchEngine == true)
    {
        <meta name="robots" content="follow,index" />
    }
    else if (Model.IsVisibleToSearchEngine == null)
    {
        <meta name="robots" content="follow,index" />
    }
    else
    {
        <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    }
    @if (Model.IsMetaDataOn != null)
    {
        <meta name="author" content="@Model.SiteOwner" />
        <meta name="keywords" content="@Model.MetaKeywords" />
        <meta name="description" content="@Model.MetaDescritpion" />
    }
    @*<link href="@Model.FavIcon" rel="icon" type="image/svg" sizes="16X16" />*@
    <link href="https://bootswatch.com/3/paper/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Coallia Online Post", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("PagesMenuPartial", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            @Html.Action("HomeBanner","Home")
           
                @RenderBody()
            <hr />
                @Html.Action("SidbarPartial", "Home")
            <hr />
                @Html.Action("HomeContentData","Home")
            <hr />
                @Html.Action("HomeRRData","Home")
        </div>
        <hr />
        <footer>
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.SiteFooter</h5>
                    <p class="card-text">@Model.SiteName</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    WebSiteLastUpdated @Model.SiteLastUpdate
                </div>
            </div>
            <p><h3>@Model.AboutFooter</h3></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>