@model OPMS.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="@Model.SiteName" rel="stylesheet" />
    <link href="@Model.LayoutTitle" rel="stylesheet" />
    <link href="@Model.GoogelAds" rel="stylesheet" />
    <link href="@Model.GoogleSiteVerification" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @if (Model.IsVisibleToSearchEngine == true)
    {
        <meta name="robots" content="follow,index" />
    }
    else if (Model.IsVisibleToSearchEngine == null)
    {
        <meta name="robots" content="follow,index" />
    }
    else
    {
        <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    }
    @if (Model.IsMetaDataOn != null)
    {
        <meta name="author" content="@Model.SiteOwner" />
        <meta name="keywords" content="@Model.MetaKeywords" />
        <meta name="description" content="@Model.MetaDescritpion" />
    }


</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark  blue lighten-1 scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Content/Img/LogoCoallia_Couleur (2).png" title="title" alt="additional title" />
                </a>


            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                @Html.Action("PagesMenuPartial", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="">
        

            @Html.Action("HomeBanner", "Home")

            @RenderBody()
            
            @Html.Action("SidbarPartial", "Home")
          
            @Html.Action("HomeContentData", "Home")
            
            @Html.Action("HomeRRData", "Home")
            @RenderSection("HomeCustomCSS", required: true)

        <footer class="page-footer font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h4>@Model.SiteFooter</h4>
                        <h5 class=" text-white">@Html.Raw(Model.ContentFooterBase)</h5>


                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Navigation</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="@Model.HomeUrlBase">@Model.HomeFooter</a>
                            </li>
                            <li>
                                <a href="@Model.AboutUrl">@Model.AboutFooter</a>
                            </li>
                            <li>
                                <a href="@Model.ContactUrlBase">@Model.ContactFooterBase</a>
                            </li>
                            <li>
                                <a href="@Model.LoginUrlBase">@Model.LoginFooter</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Contact</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">@Model.AddresFooterBase</a>
                            </li>
                            <li>
                                <a href="#!">@Model.ContactNumberFooterBase</a>
                            </li>
                            <li>
                                <a href="#!">@Model.EmailFooterBase</a>
                            </li>
                            <li>
                                <a href="#!">@Model.SiteName</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center">
                Site Last Update:@Model.SiteLastUpdate

            </div>
            <div class="footer-copyright text-center">
                @Model.CopyrightFooterBase

            </div>
           

            <!-- Copyright -->

        </footer>
            <!-- Footer -->
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>