@model OPMS.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="@Model.SiteName" rel="stylesheet" />
    <link href="@Model.LayoutTitle" rel="stylesheet" />
    <link href="@Model.GoogelAds" rel="stylesheet" />
    <link href="@Model.GoogleSiteVerification" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




    @if (Model.IsVisibleToSearchEngine == true)
    {
        <meta name="robots" content="follow,index" />
    }
    else if (Model.IsVisibleToSearchEngine == null)
    {
        <meta name="robots" content="follow,index" />
    }
    else
    {
        <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    }
    @if (Model.IsMetaDataOn != null)
    {
        <meta name="author" content="@Model.SiteOwner" />
        <meta name="keywords" content="@Model.MetaKeywords" />
        <meta name="description" content="@Model.MetaDescritpion" />
    }

</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark blue lighten-1 scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/Content/Img/LogoCoallia_Couleur (2).png" title="title" alt="additional title" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                @Html.Action("PagesMenuPartial", "Home")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content text-center">
        <div class="row">
            @RenderBody()
            @RenderSection("SocialWorkerCustomCSS", required: true)
            @Html.Action("SocialProfile", "SWorkers")
        </div>
        <hr />
        <footer>
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.SiteFooter</h5>
                    <p class="card-text">@Model.SiteName</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    WebSiteLastUpdated @Model.SiteLastUpdate
                </div>
            </div>
            <p><h3>@Model.AboutFooter</h3></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>