@model IEnumerable<OPMS.ViewModels.BlogPostViewModel>

@{
    ViewBag.Title = "Blog";
}
<hr />
<h4>Liste des articles de blog</h4>
<br />
<p>
    @*//<button class="btn btn-primary"><a href="/Pages/Create"></a>Create</button>*@
    <a class="btn btn-primary glyphicon glyphicon-plus" href="/OPMSAdmin/BlogPosts/Create"> Créer un article de blog</a>
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-center"></i> Ttitle</th>
            <th><i class="glyphicon glyphicon-link"></i> Slug</th>
           
          
            
            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": false,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": "/OPMSAdmin/BlogPosts/GetBlog",
                    "type": "Get",
                    "dataType":"json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "Slug" },
                    
                   
                    {
                        "data": "actions",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/BlogPosts/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Éditer</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/BlogPosts/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Supprimer</a> <a class="btn btn-default btn-bg" href="/OPMSAdmin/BlogPosts/Detials/' + row.Id + '"><i class="glyphicon glyphicon-info-sign"></i> Détails</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },


                ]
            })
        });
    </script>
    }

    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    Tags Name
                </th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @foreach (var tags in item.Tags)
                    {
                        <span class="label label-success">@tags</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>s
            </tr>
        }

    </table>*@
